@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #1A1A1A;
  --white: #EAE4D3;
  --danger: #B35442;
  --primary: #5A7D3A;
  --secundary: #C27A4A;

  --background: var(--white);
  --foreground: var(--black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
