@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #212121;
  --white: #FFFFFF;
  --white-opacity: rgba(255, 255, 255, 0.95);

  --background: var(--white);
  --foreground: var(--black);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
